.container {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;
}

.center-container {
    background-color: deepskyblue;
    grid-row: 2/3;
    grid-column: 2/3;
    height: 90vh;
    width: 80vw;
    border-radius: 20px;
    display: grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.image-container {
    grid-row: 1/3;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-infos{
    grid-row: 1/3;
    grid-column: 1/3;
}
.item-title{
    font-size: 200%;
}
.buying-infos{
    grid-row: 3/4;
    grid-column: 3/4;
}